html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #9281F6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: url('background.jpg') no-repeat center center;
    width: 1024px;
    height: 882px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.back {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.back1 {
    background-color: #D50000;
    order: 0;
}

.back2 {
    background-color: #34D634;
    order: 1;
}

.back3 {
    background-color: #FF920B;
    order: 2;
}
